{% extends 'adminside/base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid" style="margin-top: 130px; margin-bottom: 20px;">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">ADD BANNER</h5>
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'add-banner' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_name" class="form-label">Bnner Name</label>
                                <input type="text" class="form-control" id="id_name" name="banner_name">
                            </div>
                            <div class="mb-3">
                                <label for="id_image" class="form-label">Banner Image</label>
                                <input type="file" class="form-control" id="id_image" name="image" onchange="previewImage(event, 'preview')" required>
                                <img id="preview" src="#" alt="Category Image Preview" width="100" height="100" style="display: none;">
                            </div>
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(event, previewId) {
        var input = event.target;
        var imgElement = document.getElementById(previewId);
        
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                imgElement.src = e.target.result;
                imgElement.style.display = 'block';
            };
            
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}