{% extends 'adminside/base.html' %}
{% load static %}
{% block content %}
<h1>edit_product page</h1>

<div class="container">
    {% for msg in messages %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                     {% if msg.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      {% else %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                      {% endif %}
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    <form id="ProductvariantId" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        
        <div class="row">
            
            <div class="col-md-6">
            
                
            
                <select class="form-select" aria-label="Default select example" id="Size" name="size" style="border: 2px solid rgba(128, 128, 128, 0.448); margin-bottom:10px;">
                    <option selected>size</option>
                    {% for size in sizes %}
                        <option value="{{ size.id }}" {% if size.id == variants.size.id %}selected{% endif %}>
                            {{ size.size }}
                        </option>
                    {% endfor %}
                </select>
                
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" name="price" value="{{ variants.price }}" required>
                </div>
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="number" class="form-control" id="stock" name="stock" value="{{ variants.stock }}" required>
                </div>

                <div class="mb-3">
                    <label for="images" class="form-label">Images</label>
                    <input type="file" class="form-control" id="category_image" name="images" multiple>
                </div>
                <div class="mb-3">
                    <label for="existing_images" class="form-label">Existing Images</label>
                    <div class="d-flex" id="existing-images-container">
                        {% for image in images %}
                            <div class="me-2">
                                <img src="{{ image.image.url }}" alt="Variant Image" width="100" height="100">
                                <a href="{% url 'delete-image' image.id%}" class="btn btn-outline-danger m-1">Delete</a>

                            </div>
                        {% empty %}
                            <p>No existing images</p>
                        {% endfor %}
                    </div>
                </div>
                
            
                
            </div>
                
        </div>  
            
                
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>
{% endblock %}
{% block script%}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    // Image preview functionality
    function previewImages(input) {
        var container = document.getElementById('existing-images-container');
        container.innerHTML = '';

        if (input.files && input.files.length > 0) {
            for (var i = 0; i < input.files.length; i++) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var image = document.createElement('img');
                    image.src = e.target.result;
                    image.alt = 'Variant Image';
                    image.width = 100;
                    image.height = 100;
                    container.appendChild(image);
                };
                reader.readAsDataURL(input.files[i]);
            }
        }
    }

    // Add event listener to the file input
    var fileInput = document.getElementById('images');
    fileInput.addEventListener('change', function() {
        previewImages(this);
    });
</script>

<script>
    document.getElementById("ProductvariantId").addEventListener("submit",(e)=>{
      e.preventDefault()
      const Size = document.getElementById("Size").value;
      const price = document.getElementById("price").value;
      const stock = document.getElementById("stock").value;

        if (!isValidShoeSize(Size)) {
            // alert("Invalid banner name");
            Swal.fire({
            icon: 'error',
            title: 'Invalid Size',
            text: 'Invalid shoe size. Please check your input.',
            confirmButtonColor: 'goldenrod'
            });
        } else if (!isValidPrice(price)) {
            // alert("Invalid banner name");
            Swal.fire({
            icon: 'error',
            title: 'Invalid price',
            text: 'Invalid price. Please check your input.',
            confirmButtonColor: 'goldenrod'
            });
        } else if (!isValidStock(stock)) {
            // alert("Invalid banner name");
            Swal.fire({
            icon: 'error',
            title: 'Invalid stock',
            text: 'Invalid stock. Please check your input.',
            confirmButtonColor: 'goldenrod'
            });
        }else {
          e.target.submit();
        }
    })

    document.getElementById('product_image').addEventListener('change', handleImageInputChange);

    function validate() {
        
    }

    function isValidShoeSize(Size) {
            // Define a reasonable range for valid shoe sizes
            const minSize = 1;
            const maxSize = 20;

            // Check if the size is within the valid range
            return Size >= minSize && Size <= maxSize;
        }
        function isValidPrice(price) {
            // Check if the price is a non-negative value
            return price >= 0;
        }
        function isValidStock(stock) {
            // Check if the price is a non-negative value
            return stock >= 0;
        }

    function isValidImage(file) {
    const allowedExtensions = ["jpg", "jpeg", "png", "gif","avif"];
    const fileExtension = file.name.split(".").pop().toLowerCase();
    const maxSizeInBytes = 5 * 1024 * 1024; // 5MB

    return allowedExtensions.includes(fileExtension) && file.size <= maxSizeInBytes;
    }

    // Function to handle image input change event
    function handleImageInputChange(event) {
        const input = event.target; 

    for (const file of input.files) {
      if (!isValidImage(file)) {
        // Show SweetAlert error message
        Swal.fire({
          icon: 'error',
          title: 'Invalid Image',
          text: 'Allowed formats are JPG, JPEG, PNG, and GIF (up to 5MB).',
          confirmButtonColor: 'goldenrod'
        });

        input.value = ""; // Reset the input value to clear the invalid selection
        return;
      }
    }
}
  </script>
{% endblock %}