{% extends 'adminside/base.html' %}
{% load static %}
{% block content %}
<h1>edit_product page</h1>

<div class="container">
    
    <form id="ProductId" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Product Name</label>
                    <input type="text" class="form-control" id="ProductName" name="name" value="{{products.name}}" required>
                </div>
                <div class="form-group">
                    <label for="shortdescription">Short description</label>
                    <input type="text" class="form-control" id="ShortDescription" name="description" value="{{products.description}}" required>
                </div>

                <select class="form-select my-2" aria-label="Default select example" name="category" style="border: 2px solid rgba(128, 128, 128, 0.448); margin-bottom:10px;">
                    <option selected>category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == products.category.id %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
                
                <select class="form-select" aria-label="Default select example" name="brand" style="border: 2px solid rgba(128, 128, 128, 0.448); margin-bottom:10px;">
                    <option selected disabled>Brand</option>
                    {% for brand in brands %}
                        <option value="{{ brand.id }}" {% if brand.id == products.brand_name.id %}selected{% endif %}>{{ brand.name }}</option>
                    {% endfor %}
                </select>
                    
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>

{% endblock %}
{% block script%}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    document.getElementById("ProductId").addEventListener("submit",(e)=>{
      e.preventDefault()
      const ProductName = document.getElementById("ProductName").value;
      const ShortDescription = document.getElementById("ShortDescription").value;
      

        if (!isValidProductName(ProductName)) {
            // alert("Invalid banner name");
            Swal.fire({
            icon: 'error',
            title: 'Invalid ProductName',
            text: 'Invalid ProductName. Please check your input.',
            confirmButtonColor: 'goldenrod'
            });
        } else if (!isValidShortDescription(ShortDescription)) {
            // alert("Invalid banner name");
            Swal.fire({
            icon: 'error',
            title: 'Invalid ShortDescription',
            text: 'Invalid ShortDescription. Please check your input.',
            confirmButtonColor: 'goldenrod'
            });
        }else {
          e.target.submit();
        }
    })


    function validate() {
        
    }

    function isValidProductName(ProductName) {
        // Regular expression to check if the name contains only letters
        const lettersAndDigits = /^[A-Za-z0-9]+$/;
        const stringWithoutSpaces = ProductName.replace(/\s+/g, '');
        // Minimum length requirement (adjust as needed)
        const minLength = 2;
        
        return lettersAndDigits.test(stringWithoutSpaces) && stringWithoutSpaces.length >= minLength;
    }
        function isValidShortDescription(ShortDescription) {
        const lettersAndDigits = /^[A-Za-z0-9]+$/;
        const stringWithoutSpaces = ShortDescription.replace(/\s+/g, '');
        // Minimum length requirement (adjust as needed)
        const minLength = 10;
        
        return lettersAndDigits.test(stringWithoutSpaces) && stringWithoutSpaces.length >= minLength;
        }
       
   
  </script>
{% endblock %}