{% extends 'base.html' %}
{% load static %}
{% block link %}

    <style>
        .password-toggle-icon {
            position: absolute;
            right: 70px;
            top: 54%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
{% endblock %}
  {% block body %}

  {% for msg in messages %}
      <div>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          <script>
              var r = "{{ msg }}"
              swal("Hey", r, "success")
          </script>
      </div>
    {% endfor %}
      

<section class=" gradient-custom">
        <div class="container py-5 ">
          <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card breadcrumb text-dark" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    
                    <h3 class="text-dark-50 mb-5">Enter Your New Password!</h3>
                   
                    <form id="ConfirmPass" action="{% url 'reset-password' %}"  method="post">

                      {% csrf_token %}
      
                    <div class="form-outline form-white mb-4">
                      <input type="password" id="pass1" placeholder="enter new password" class="form-control form-control-lg" name="pass1" required/>
                      <i class="fas fa-eye password-toggle-icon" id="pass1-toggle" onclick="togglePasswordVisibility('pass1')"></i>
                      <label class="form-label" for="pass1" ></label>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <input type="password" id="pass2" placeholder="confirmation password" class="form-control form-control-lg" name="pass2" required/>
                        <i class="fas fa-eye password-toggle-icon" id="pass2-toggle" onclick="togglePasswordVisibility('pass2')"></i>
                        <label class="form-label" for="pass2" ></label>
                      </div>
                    <button class="btn btn-primary btn-lg px-5" type="submit">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {%endblock%}
    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> 
    <script>
      function togglePasswordVisibility(inputId) {
          var passwordInput = document.getElementById(inputId);
          var passToggle = document.getElementById(inputId + '-toggle');
          if (passwordInput.type === "password") {
              passwordInput.type = "text";
              passToggle.classList.remove("fa-eye");
              passToggle.classList.add("fa-eye-slash");
          } else {
              passwordInput.type = "password";
              passToggle.classList.remove("fa-eye-slash");
              passToggle.classList.add("fa-eye");
          }
      }
    </script>            
    <script>
      document.getElementById("ConfirmPass").addEventListener("submit",(e)=>{
        e.preventDefault()
        const pass1 = document.getElementById("pass1").value;
        const pass2 = document.getElementById("pass2").value;    
    
          if (!isValidPassword(pass1,pass2)) {
            Swal.fire({
                icon: 'error',
                title: 'Invalid password',
                text: 'Passwords do not meet the required criteria or do not match.,Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 digit, 1 special character, and be 8-10 characters long',
                confirmButtonColor: 'goldenrod'
                })
          }else {
            e.target.submit();
          }
      })
      function validate() {
          
      }
      
      function isValidPassword(pass1, pass2) {
          const passwordPattern = /^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[^A-Za-z0-9]).{8,10}$/;
          return passwordPattern.test(pass1) && pass1 === pass2;
      }
          </script>
    {% endblock %}