{% extends 'base.html' %}
{% load static %}
  {% block body %}

  {% for msg in messages %}
      <div>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          <script>
              var r = "{{ msg }}"
              swal("Hey", r, "success")
          </script>
      </div>
    {% endfor %}
      

<section class=" gradient-custom">
        <div class="container py-5 ">
          <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card breadcrumb text-dark" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    
                    <h3 class="text-dark-50 mb-5">Enter Your New Password!</h3>
                   
                    <form action="{% url 'reset-password' %}"  method="post">

                      {% csrf_token %}
      
                    <div class="form-outline form-white mb-4">
                      <input type="password" id="pass1" placeholder="enter new password" class="form-control form-control-lg" name="pass1" required/>
                      <label class="form-label" for="pass1" ></label>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <input type="password" id="pass2" placeholder="confirmation password" class="form-control form-control-lg" name="pass2" required/>
                        <label class="form-label" for="pass2" ></label>
                      </div>
                    <button class="btn btn-primary btn-lg px-5" type="submit">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {%endblock%}
                    