{% extends 'base.html' %}
{% load static %}
  {% block body %}
  {% for msg in messages %}
  <div>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script>
          var r = "{{ msg }}"
          swal("Hey", r, "success")
      </script>
  </div>
{% endfor %}
    <section class=" gradient-custom">
        <div class="container py-5 ">
          <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card breadcrumb text-dark" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h3 class="fw-bold mb-2 ">Please enter your gmail!</h3>
                    
                   
                    <form action="{% url 'password-reset-request' %}"  method="post">

                      {% csrf_token %}
      
                    <div class="form-outline form-white mb-4">
                      <input type="email" id="email" class="form-control form-control-lg" name="email"/>
                      <label class="form-label" for="email" aria-placeholder="enter your email"></label>
                    </div>
                    <button class="btn btn-primary btn-lg px-5" type="submit">submit</button>
      
                    </form>
      
                  </div>
      
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {%endblock%}