{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container ">
  <div class="row  justify-content-center mt-5">
    <div class="col-md-6 ">
      <div class="card breadcrumb">
        <div class="card-header">
          <h4>OTP Verification</h4>
        </div>
        <div class="card-body">
          <form action="{% url 'otp-login' %}" method="post">
            {% csrf_token %} <!-- Add CSRF token if using Django -->
            
            <div class="form-group">
              <label for="otp">Enter OTP</label>
              <input type="text" class="form-control" id="otp" name="otp" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Verify</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}