{% extends 'base.html' %}

{% load static %}
{% block body %}

<style>
.zoomed-image {
    position: absolute;
    top: 150%;
    left: 70%;
    width: 65%;
    height: 95%;
    background-size: 200%;
    background-repeat: no-repeat;
    display: none;
    z-index: 999;   transform: translate(-50%, -50%); /* Center the zoomed image */
  }
</style>
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    {% for msg in messages %}
      <div>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          <script>
              var r = "{{ msg }}"
              swal("Hey", r, "success")
          </script>
      </div>
    {% endfor %}
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shop Detail</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    
                    {% for image in images %}
                    <div class="product-image carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="w-100 h-100 " src="{{ image.image.url }}" alt="Image">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
                <a href="{% url 'add-wishlist' selected_variant.id %}">
                <div class="position-absolute top-0 end-0 mt-3 me-3">
                   
                    <button  class="btn btn-outline-primary btn-sm">
                        <i class="fa fa-heart"></i> Add to Wishlist
                    </button>
                    
                </div>
                </a>
                 
            </div>
        </div>
        <div class="zoomed-image"></div> 

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">{{ product.name }}</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div>
            {% if product_variant.discount_price is none %}
                <h3 class="card-text">₹{{ product_variant.price }}</h3>
                {% else %}
                <h3 class="card-text">₹{{product_variant.discount_price}} <del>₹{{ product_variant.price }}</del><h3 class="text" style="font-size: medium; color: forestgreen;">{{product_variant.discount}}% off</h3></h3>
                <p class="card-text">  </p> 
            {% endif %}
            <p>Shoe's For {{product.category}}</p>
            <div class="tab-pane fade show active" id="tab-pane-1">
                <h4 class="mb-3">Product Description:</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="d-flex mb-4">
                <p class="text-dark font-weight-medium mb-0 mr-3">Size:</p>
                {% for variant in product.productvariant_set.all %}
                    <div>
                        <a class="pl-2" style="text-decoration: none;" href="{% url 'productdetails' slug=variant.slug %}">
                            <button class="btn btn-primary px-3 custom-button {% if variant.id == selected_variant.id %}active{% endif %}">
                                {{ variant.size.size }}
                            </button>
                        </a>
                    </div>
                {% endfor %}
            </div>
            
            <div class="d-flex align-items-center mb-4 pt-2">
                
                <a href="{% url 'add-cart' selected_variant.id %}">
                <button class="btn btn-primary px-3" ><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
                </a>
            </div>  
            
        </div>
        
    </div>
    
            
</div>
<!-- Shop Detail End -->
    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
        </div>
    
    <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    {% for product in related_products %}
                    {% if product.productvariant_set.all %}
                    {% with random_variant=product.productvariant_set.all|random %}
                      {% if random_variant.productimage_set.exists %}
                        {% if product.is_active %}
                        
                          <div class="card product-item border-0 mb-4">
                              <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                  <img class="img-fluid w-100" src="{{ random_variant.productimage_set.first.image.url }}" alt="">
                              </div>
                              <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                  <h6 class="text-truncate mb-3">{{product.name}}</h6>
                                  <div class="d-flex justify-content-center ">
                                    {% if random_variant.discount_price %}
                                    <h6>{{ random_variant.discount_price }}</h6>
                                    <h6 class="text-muted ml-2"><del>{{ random_variant.price }}</del></h6>
                                    <!-- <h5 class="text" style="font-size: medium; color: forestgreen;">{{ random_variant.discount }}% off</h5> -->
                                    {% else %}
                                    <h6 class="text-muted ml-2">{{ random_variant.price }}</h6>
                                    {% endif %}
                                </div>
                              </div>
                              <div class="card-footer d-flex justify-content-between bg-light border">
                                  <a href="{% url 'productdetails' slug=random_variant.slug %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                  <a onclick="addToCart('{{product.id}}')"  class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                              </div>
                            </div>
                          
                        {% endif %}
                      {% endif %}
                    {% endwith %}
                  {% endif %}
                    {% endfor %}
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->
{% endblock%}  
{% block script %}
<script>
    // Select all product images and corresponding zoomed images
    const productImages = document.querySelectorAll(".product-image img");
    const zoomedImages = document.querySelectorAll(".zoomed-image");
  
    productImages.forEach((productImage, index) => {
        index=0;
      productImage.addEventListener("mouseover", function () {
        // Display the zoomed image when hovering over the product image
        zoomedImages[index].style.backgroundImage = `url(${productImage.src})`;
        zoomedImages[index].style.display = "block";
      });
  
      productImage.addEventListener("mouseout", function () {
        // Hide the zoomed image when the mouse moves out
        zoomedImages[index].style.display = "none";
      });
  
      productImage.addEventListener("mousemove", function (event) {
        // Update the zoomed image position based on mouse movement
        const boundingRect = productImage.getBoundingClientRect();
        const x = event.clientX - boundingRect.left;
        const y = event.clientY - boundingRect.top;
  
        const zoomPercentageX = (x / boundingRect.width) * 100;
        const zoomPercentageY = (y / boundingRect.height) * 100;
  
        zoomedImages[index].style.backgroundPosition = `${zoomPercentageX}% ${zoomPercentageY}%`;
      });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
function addToCart(product_id) {
                
                // Make an AJAX POST request
                $.ajax({
                    type: "GET",
                    url: "/get-variant/", // Replace with the actual URL of your Django view to apply the coupon
                    //headers: { "X-CSRFToken": "{{ csrf_token }}" }, // Add this line to include the CSRF token
                    data: { product_id: product_id },
                    dataType: 'json',
                    success: function(response) {
                            // Access the variants array from the response
                            //console.log(response)    
                            var variants = response.variants;                            
                            // Create an array to hold the size options
                            var sizeOptions = [];

                            // Iterate through the variants array
                            for (var i = 0; i < variants.length; i++) {
                                var variant = variants[i];
                                var variantSize = variant.size;
                                var variantId = variant.id;

                                // Add each size to the sizeOptions array
                                sizeOptions.push({
                                    Id : variantId,
                                    Size : variantSize
                                });

                                variant         
                            }

                            // Create an array containing only the 'Size' values
                            const sizeOptionsForInput = sizeOptions.map(option => option.Size);

                            // Display the size options using SweetAlert
                            Swal.fire({
                                title: 'Select Size',
                                input: 'radio',
                                inputOptions: sizeOptionsForInput,
                                showCancelButton: true,
                                confirmButtonText: 'Select',
                                cancelButtonText: 'Cancel',
                                inputValidator: (value) => {
                                    if (!value) {
                                        return 'You must select a size';
                                    }
                                }
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    var selectedSize = result.value;
                                    // Perform actions with the selectedSize

                                    console.log('Selected Size:------', selectedSize);
                                    console.log('Selected Variant Id:', sizeOptions[selectedSize].Id);
                                    var variant_id = sizeOptions[selectedSize].Id
                                    window.location.href = "/addcart/"+ variant_id + "/";
                                    // Make an AJAX POST request                                    
                                }
                            });
                    },
                    error: function(xhr, status, error) {
                        // Handle the error if any
                        //console.log(xhr.responseText);
                        //alert("Coupon Code Not Found! Please try again.");
                        try {
                            var alert_msg = JSON.parse(xhr.responseText);
                            //alert(alert_msg.error);
                            //showModal(alert_msg.error);
                            couponCode.value = " "
                        } catch (e) {
                            alert("An error occurred. Please try again.");
                        }
                    }
                });
            }
</script>
{% endblock %}